<!-------------------------------------------------------------------------------------------
-                                                                                            
-         Name :      SandboxAuth
-       Author :      Pratyush (Infosys Limited)                                              
-  Description :  Developed for Sandbox Manager AppExchange product                           
-                 Page meant for OAuth authentication
-                                                                                             
-         © 2016 Infosys Limited, Bangalore, India. All rights reserved.                      
-         No part of this code should be used without prior written consent from the author
-------------------------------------------------------------------------------------------->
<apex:page controller="infy_sm.SandboxAuth">
    <script>
       window.onload=function()
       {
         doInit();
       };
    </script> 
    <apex:form >
               <apex:actionFunction name="doInit" action="{!init}"/> 
    </apex:form> 
</apex:page>